---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/recepies/">Recepies</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <button onclick="print()" class="print-button d-print-none">
    <i class="fas fa-file-pdf"></i>Print
  </button>

  <button onclick="generatePDF()" class="pdf-button d-print-none" id="pdfButton">
    <i class="fas fa-file-pdf"></i>PDF
  </button>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/pdf-generator.js"></script>
</body>

</html>
